<po-page-default [p-title]="title" [p-subtitle]="description">
    <div class="po-row po-text-center  po-lg-12 po-content">
        <footer class="po-title">Welcome to the PO UI Tutorial</footer>
        <h2 class="po-subtitle">Build Forms, Charts, and Interactive Dashboards!</h2>
        <p class="po-description">
            This tutorial will guide you through the powerful features of PO UI, showing you what is possible and
            how to achieve it step by step.
        </p>
        <p class="po-description">
            Whether you're a beginner or an experienced developer, you'll find valuable insights to create modern
            and responsive web applications.
        </p>
        <p class="po-update">Last Updated: April 23, 2025</p>
        <footer class="po-footer">
            <p>Developed by Logos Technology</p>
            <p>For more information, visit the <a href="https://po-ui.io" target="_blank" style="color: #c0c0c0">official PO UI
                    website</a>.</p>
        </footer>
    </div>
</po-page-default>