<po-page-default p-title="Home Page">
    <div class="po-row po-container po-text-center po-md-12 po-lg-12 po-content">
        <h1 class="po-title">Bem-vindo ao Tutorial PO UI</h1>
        <br>
        <h2 class="po-subtitle">Crie Cadastros, Graficos e Visualizações!</h2>
        <br>
        <p class="po-description">
            Esse tutorial te mostrara o que é possivel fazer e como fazer
        </p>
        <br>

        <p class="po-update">Ultima Atualização: 31/03/2025</p>

        <footer class="po-footer">
            <p>Desenvolvido por Logos Technology</p>
        </footer>
    </div>
</po-page-default>